/* * */
*{
    font-family: "Nunito", sans-serif;
}

/* NAVABAR */

.bg-dark.scrolled{
    transition: ease-in 0.5s;
    background-color: #165950 !important;
}

.bg-dark{
    background-color: transparent !important;
}

.navbar-brand img{
    width: 8em;
}

.nav-link{
    font-weight: 700;
    font-size: 17px;
}

/* HEADER */

.masthead{
    background-image: url(/assets/img/bg.svg);
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 100vh;
}


.img-header{
    width: 24em;
    margin-left: 5em;
    margin-top: 7em;
}

.header-h1{
    color: #fff;
    font-size: 4em;
    line-height: 1em;
    margin-top: 2em;
}

.header-p{
    text-transform: uppercase;
    font-size: 12px;
    text-align: justify;
    font-weight: 600;
    color: #fff;
}

.header-p{
   position: absolute;
}

.header-p::after{
    content: "";
    display:block;
    background-color: #165950;
    height: 8px;
    margin-top: -8px;
    z-index: -1;
}

/* BOARD SECTION */

.board{
   background-image: url(/assets/img/bg-brand.svg);
   background-size: cover;
   background-position: center;
   /* height: 50vh; */
}

.board-row{
    padding-top: 3em;
    padding-bottom: 1em;
}

.board-main{
    display: block;
    background: #fff;
    padding: 25px;
    border-radius: 0.5rem;
    border: #ffffff 1px solid;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.06), 0 3px 6px rgba(0, 0, 0, 0.09);
}

.board-main:hover{
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.07), 0 15px 12px rgba(0, 0, 0, 0.1);
}

.fas-board{
    font-size: 2em !important;
    background: linear-gradient(75deg, #4c8c9a 0%, #1b88d6 100%) !important;
    color: #fff;
    padding: 30px;
    border-radius: 100%;
    display: inline-block;
    text-align: center;
}

.board-h6{
    font-size: 20px;
    text-align: left;
    margin-top: 10px;
    font-weight: bolder;
}

/* CREATE SECTION */

.create{
    background: linear-gradient(90deg, #0700b8 0%, #00ff88 100%);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #fff;
}

.create-div{
    padding-top: 3em;
    padding-bottom: 2em;
}

.create-h6{
    font-size: 25px !important;
    font-weight: bold;
}

.create-p{
    font-size: 35px;
    font-weight: 700;
}

.btn-create{
    background-color: #fff;
    padding: 12px 14px;
    border-radius: 35px;
    font-size: 15px;
    font-weight: 700;
    color: #165950;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.06), 0 3px 6px rgba(0, 0, 0, 0.09);
}

.btn-create:hover{
    color: #165950;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.07), 0 15px 12px rgba(0, 0, 0, 0.1);
}

.what-to-div{
    padding-top: 3em;
    padding-bottom: 2em;
}

.img-what-to{
    width: 25em;
}

.what-h3{
    font-size: 1.5em;
    font-weight: bold;
    color: #8d8d8d;
}

.what-h3::after{
    content: "";
    display:block;
    background-color: #165950;
    height: 10px;
    margin-top: -12px;
    z-index: -1;
    width: 40%;
}

.what-list{
    margin-top: 1em;
}

.what-head{
    font-size: 1em;
    font-weight: 600;
    padding-left: 1em;
    color: #165950;
}

.what-list{
    font-size: 14px;
    padding-left: 3em;
}

.fas-what{
    color: #165950;
}

/* FOOTER */

.footer{
    background-image: url(/assets/img/footer.svg);
    background-position: center;
    background-size: cover;
    width: 100%;
    
}

.footer-div{
    padding-top: 8rem;
    padding-bottom: 2em;
}

.logo-footer{
    width: 12em;
    text-align: center;
    display: block;
}

.footer-link{
    text-align: center;
    color: #fff !important;
    display: inline-block;
}

.img-div{
    text-align: center;
    margin: auto;
}

.btn-footer{
    color: #fff;
    font-size: 14px;
    text-align: left;
    padding: 4px;
}

.copyright{
    color: #fff;
    font-size: 14px;
    text-align: center;
}

.btn-footer:hover{
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

/* TEMPLATE PAGE */

.breadcrumb{
    padding: 150px 0 0 0;
    background-image: linear-gradient(150deg,rgba(0,0,0,0.5), rgba(22, 89, 80, 1)), url(/assets/img/interview.jpg);
    background-size: cover;
    background-position: center;
    z-index: -99;
}

.breadcrumb ul{
    list-style-type: none;
    padding-left: 0;
    color: #f2f2f2 !important;
}

.breadcrumb ul li{
    display: inline-block;
    font-size: .8em;
}

.breadcrumb ul li a{
    color: #ffffff;
}

.breadcrumb ul li a:hover{
    text-decoration: none;
}

.breadcrumb h1{
    color: #f2f2f2;
    font-size: 2em;
    margin-bottom: 1em;
    font-weight: 600;
}

.temp-row{
    padding: 10px 10px;
    margin-top: .5em;
    margin-bottom: .5em;
}

.temp{
    padding: 20px;
    border: 2px solid #fbfbfb;
    border-radius: 25px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.06), 0 3px 6px rgba(0, 0, 0, 0.09);
  
}

.temp img{
    width: 3em;
    border-radius: 100%;
    
}

.temp-title h6{
    font-size: 1.5em;
    font-weight: 550;
}

.temp-title{
    font-size: 1em;
}

.col-lg-2{
    padding-top: .8em;
}

/* CREATE RESUME */
